body{
  font-size: 0.95vw;
}

#islandsTopBox {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 1fr 20px 4fr;
  width: 70vw;
}

#islandsImage{
  float: left;
  margin-top: 0%;
  width: 100%;
  object-fit: cover; 
  object-position: 0%, 50%;
}

#islandsText{
  text-align: justify;
}

.topBar{
  border-top: 1px solid #ababab;
}

.marginTop{
  margin-top: 1vw;
  padding-top: 1vw;
}

#islandsRightBox{
  display: grid;
  grid-template-rows: 10vw 10px;
  width: 70vw;
}